.j-rating {
	font-size: 14px;
	position: relative;
	display: inline-block;
}

.j-rating .stars {
	display: inline-block;	
}

.j-rating .top {
	white-space: nowrap;
	overflow: hidden;
}

.j-rating .bottom {
	position: absolute;
	top: 0;
	left: 0;
	color: #CCC;
}

.j-rating .glyphicon {
	left: 0.5px;	
}

.j-rating .text {
	float: right;
	line-height: 1.1;
	margin-left: 5px;
	padding: 0 5px;
	color: #fff;
	background-color: #f0ad4e;
	border-radius: 3px;
	cursor: default;
	display: inline-block;
	text-align: center;
}